@font-face {
  font-family: "black";
  src: url("../fonts/proximanova-black.otf");
}

@font-face {
  font-family: "medium";
  src: url("../fonts/proximanova-medium.otf");
}

* {
  font-family: "medium";
}

.black {
  font-family: "black";
}

body,
html {
  overflow-x: hidden;
}

/* font sizes */
.fs-70 {
  font-size: 70px;
}
.fs-60 {
  font-size: 60px;
}
.fs-40 {
  font-size: 40px;
}
.fs-24 {
  font-size: 24px;
}
.fs-25 {
  font-size: 25px;
}
.fs-18 {
  font-size: 18px;
}

/* text colors */
.text-blue {
  color: #0079c1;
}
.text-dark-blue {
  color: #00355e;
}

/* bg colors */
.bg-blue {
  background-color: #0079c1;
}
.bg-semiblue {
  background-color: #e0eff7;
}

.card.position-relative .card-body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* btns */
.btn-blue {
  background-color: #0079c1;
  color: #fff;
  border: none;
}

.va-top {
  vertical-align: top;
}
