@font-face {
  font-family: "black";
  src: url("../fonts/proximanova-black.otf");
}

@font-face {
  font-family: "medium";
  src: url("../fonts/proximanova-medium.otf");
}

* {
  font-family: "medium";
}

.black {
  font-family: "black";
}

body,
html {
  overflow-x: hidden;
}

.fs-60 {
  font-size: 60px;
}
.text-blue {
  color: #0079c1;
}

.card.position-relative .card-body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
